body {
    max-width: 800px;
    background-color: #fafafa;
    color: #333;
    /* I'd like to be able to type this but apparently the world hasn't caught up yet... */
    /* font-family: system-ui; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 0 2em;
    text-rendering: optimizeLegibility;
    text-align: justify;
    -webkit-text-size-adjust: none;
}

div#content  div#titlematter{
    max-width: 700px;
    margin: auto;
}

div#content div#mainmatter {
    max-width: 600px;
    margin: auto;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

div .sourceCode {
    padding: 0px;
    margin: 0px;
}

code {
    font-family: monospace;
    font-size: 1.1em;
}

blockquote {
    background: #e4eff7;
    border-left: 10px solid #47a3ff;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin: 0.5em 0px;
}

div.quote-attribution {
    text-align: right;
}

div.sidenote {
    background: #fbdaf0;
    border-left: 10px solid #da1071;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

div#crosspost {
    background: #eaeaea;
    border-left: 10px solid #ccc;
    margin: 20px 10%;
    padding: 0em 10px;
}

h1, h2, h3, h4 {
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 190%;
}

h2 {
    margin-top: 1.5em;
    font-size: 130%;
}

h1.title {
    margin: 0px;
    padding: 0px;
}

h2.subtitle {
    margin: 0px;
    padding: 0px;
    font-size: 120%;
    text-align: center;
    font-style: italic; /* TODO find a way to disable this for Japanese subtitles */
}

a {
    color: #da1071;
    text-decoration: none;
}

a:hover {
    color: #47a3ff;
}

.postMenuItem {
    text-align: left;
}

.postMenuItem h2 {
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.postMenuItem h3 {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.postMenuItem .postDate {
    margin-top: 0.5em;
    font-weight: 600;
}

.postMenuItem a .postTitle {
    color: black
}

.postMenuItem a:hover .postTitle {
    color: #da1071
}

.postMenuItem .postTagsList {
    font-size: 0.7em;
}

div#header {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -10px;
}

div#logo {
    position: relative;
}

div#header a {
    color: #333;
}

div#header a:hover {
    color: #da1071;
}

div#header h1 {
    font-size: 60px;
}

h1#logomain {
    text-align: left;
}

div#header #social {
    font-size: 16px:
    text-align: left;
}

div#header #navigation {
    text-align: right;
    position: absolute;
    top: 0.5em;
    right: 0px;
}

div#header #navigation a {
    margin: 25px 10px 0px 12px;
    text-decoration: none;
    text-transform: lowercase;
    color: #333;
    font-size: 50px;
    font-weight: bold;
}

div#header #navigation a:hover {
    color: #da1071;
}

div#footer {
    color: #555;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}

div.info {
    color: #555;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
}

div.tagsinfo {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

.page > div {
    margin: 0 -1000%;
    text-align: center;
}

td.postdate {
    vertical-align: middle;
}

img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
}

figure {
    margin: 0px;
}

.elastic-tabstops > table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 600px;
}

.elastic-tabstops {
    overflow-x: auto;
}

.elastic-tabstops > table > tbody > tr {
    margin: 0px;
    padding: 0px;
}

.elastic-tabstops > table > tbody > tr > td {
    margin: 0px;
    padding: 0px;
    width: 8em;
}

.elastic-tabstops > table > tbody > tr > td > pre {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 700px) {
    h1#logomain {
        font-size: 8vw;
    }

    div#header #navigation a {
        font-size: 7vw;
    }

    h1.title {
        font-size: 4.6vw;
    }

    h2.subtitle {
        font-size: 3.0vw;
    }
}
