@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    background-color: #fafafa;
    color: #333;
    font-size: 16px;
    margin: 0px auto 0px auto;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    font-weight: 100;
}

h1 {
    text-align: center;
}

a:hover {
    color: #47a3ff;
}

pre {
    overflow-x: auto;
}

div#header {
    margin: 0px;
    padding: 0px;
}

div#header a {
    color: #333;
}

div#header a:hover {
    color: #da1071;
}

h1#logo {
    margin: 0px 12px;
    padding: 0px;
    position: absolute;
    font-size: 2.5em;
}

a {
    color: #da1071;
    text-decoration: none;
}

h2#sublogo {
    font-size: 1.0em;
    margin: 43px 73px;
    padding: 0px;
    position: absolute;
}

div#header #social {
    position: absolute;
    margin: 27px 289px;
    text-align: right;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    font-family: "Open Sans Condensed", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    font-size: 18px;
    margin: 20px 20px 0px 12px;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: solid black 1px;
    color: #333;
}

div#header #navigation a:hover {
    color: #da1071;
}

div#header #navigation a.jp {
    font-size: 0.85em;
}

div#content {
    margin: 80px auto 0px auto;
    max-width: 900px;
}

div#crosspost {
    background-color: #eaeaea;
    margin: 20px 10%;
    border-color: #333333;
    border-style: dashed;
    border-width: 2px;
    text-align: center;
}

ul#postlist {
    list-style-type: none;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

div.tagsinfo {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

.postdate {
    float: right;
    text-align: right;
}
