@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

body {
    max-width: 1040px;
    background-color: #fafafa;
    color: #333;
    font-family: "Sorts Mill Goudy", "Garamond", serif;
    font-size: 20px;
    margin: 0px auto 0px auto;
}

p {
}

code {
    font-size: 0.8em;
}

blockquote {
    background: #e4eff7;
    border-left: 10px solid #47a3ff;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin: 0.5em 0px;
}

div#sidenote {
    background: #fbdaf0;
    border-left: 10px solid #da1071;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

div#crosspost {
    background: #eaeaea;
    border-left: 10px solid #ccc;
    margin: 20px 10%;
    padding: 0em 10px;
}

h1, h2 {
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 190%;
}

h2 {
    font-size: 130%;
}

a {
    color: #da1071;
    text-decoration: none;
}

a:hover {
    color: #47a3ff;
}

pre {
    overflow-x: auto;
}

div#header {
    font-family: "Open Sans Condensed", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    margin: 0px;
    padding: 0px;
}

div#header a {
    color: #333;
}

div#header a:hover {
    color: #da1071;
}

h1#logo {
    font-family: "Open Sans Condensed", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    margin: 0px 12px;
    padding: 0px;
    position: absolute;
    font-size: 40px;
}

h2#sublogo {
    font-family: "Open Sans Condensed", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
    font-size: 16px;
    margin: 43px 73px;
    padding: 0px;
    position: absolute;
}

div#header #social {
    position: absolute;
    margin: 22px 272px;
    text-align: right;
    font-size: 16px:
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    font-size: 18px;
    margin: 20px 20px 0px 12px;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: solid black 1px;
    color: #333;
}

div#header #navigation a:hover {
    color: #da1071;
}

div#header #navigation a.jp {
    font-size: 0.85em;
}

div#content {
    margin: 80px auto 0px auto;
    padding: 10px;
    max-width: 900px;
}

table#postlist {
    width: 100%;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

div.info {
    color: #555;
    font-size: 16px;
    text-align: center;
}

div.tagsinfo {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

td.postdate {
    text-align: right;
    vertical-align: middle;
}

span.math {
    font-size: 1.05em;
}

/* iPhone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  h1#logo {
    font-size: 60px;
  }

  h2#sublogo {
    font-size: 24px;
    margin: 63px 100px;
  }

  div#header #social {
    margin: 22px 390px;
    font-size: 32px;
  }
}
