body {
    max-width: 800px;
    background-color: #fafafa;
    color: #333;
    /* I'd like to be able to type this but apparently the world hasn't caught up yet... */
    /* font-family: system-ui; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 0 2em;
    text-rendering: optimizeLegibility;
    text-align: justify;
    -webkit-text-size-adjust: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img.fullwidth {
    width: 100%;
}

th {
    min-width: 10em;
    vertical-align: top;
}

td {
    vertical-align: top;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4.25vw;
  }

  h2 {
    font-size: 3.25vw;
  }
}
