.step .notes {
    display: none;
}

li {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#title {
    text-align: center;
}

#title h1 {
    font-family: 'Lobster', cursive;
}

#title div#mydetails {
    text-align: center;
    position: absolute;
    bottom: -190px;
    left: 190px;
}

#title #mydetails p {
    position: relative;
    top: 15px;
    font-size: 20px;
}

#title #mydetails a {
    font-size: 20px;
}

#git {
    width: 600px;
    text-align: center;
    font-size: 250px;
}

#git p {
    font-size: 30px;
    margin-top: -30px;
    opacity: 0.5;
}

.git-props {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}

pre, code {
    font-family: monospace;
}

#git-prop3 {
    margin-top: 23px;
}

.small {
    margin-top: -11px;
    font-size: 12px;
    line-height: 1.0;
}

#jituha {
    width: 627px;
    text-align: center;
 }

#jituha h1 {
    font-size: 250px;
}

#jituha .subitems {
    font-size: 27px;
    margin-top: -50px;
    opacity: 0;
 }

#jituha .subitems {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#jituha.present .subitems {
    opacity: 1;
    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;

    -webkit-transition-delay: 0.7s;
    -moz-transition-delay:    0.7s;
    -ms-transition-delay:     0.7s;
    -o-transition-delay:      0.7s;
    transition-delay:         0.7s;
}

#filesystems {
    top: -0.04em;
    width: 1050px;
}

#filesystems h1 {
    font-family: 'Lobster', cursive;
}

#filesystems td {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

#gitCore {
    width: 600px;
    text-align: center;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#gitCore h1 {
    font-size: 250px;
}

#gitCore h2 {
    font-size: 35px;
}

#gitCore.future h1 {
    opacity: 0;
}

#gitCore.present h1 {
    opacity: 1;

    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;

    -webkit-transition: 0.9s;
    -moz-transition:    0.9s;
    -ms-transition:     0.9s;
    -o-transition:      0.9s;
    transition:         0.9s;
}

#gitCore.future h2 {
    opacity: 0;
}

#gitCore.present h2 {
    opacity: 1;

    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;

    -webkit-transition: 0.9s;
    -moz-transition:    0.9s;
    -ms-transition:     0.9s;
    -o-transition:      0.9s;
    transition:         0.9s;
}

#gitCore.present h2.koredake {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

#gitCore h2.gitno {
  position: relative;
  left: -180px;
  top: 115px;
}

#gitCore h2.ha {
  position: relative;
  left: 176px;
  top: -118px;
}

#gitCore h2.koredake {
  position: relative;
  left: 325px;
  top: -170px;
}

#gitObjects {
    width: 600px;
    text-align: center;
}

#gitObjects h1 {
    font-size: 350px;
    font-family: serif;
}

#gitObjects.future h1 {
    opacity: 0;
}

#gitObjects.present h1 {
    opacity: 1;

    -webkit-transform: opacity;
    -moz-transform:    opacity;
    -ms-transform:     opacity;
    -o-transform:      opacity;
    transform:         opacity;

    -webkit-transition: 1.2s;
    -moz-transition:    1.2s;
    -ms-transition:     1.2s;
    -o-transition:      1.2s;
    transition:         1.2s;

    -webkit-transition-delay: 1.0s;
    -moz-transition-delay:    1.0s;
    -ms-transition-delay:     1.0s;
    -o-transition-delay:      1.0s;
    transition-delay:         1.0s;
}

#gitObjects h2.pre {
    position: relative;
    top: 205px;
    font-size: 37px;
}

#gitObjects h2.post {
    position: relative;
    bottom: 277px;
    font-size: 65px;
}

.objectDesc {
    text-align: center;
}

.objectDesc h1 {
  font-family: 'Lobster', cursive;
  font-size: 120px;
}

.objectDesc li {
  font-size: 30px;
}

.naiyo {
  position: absolute;
  float: right;
  right: -200px;
  bottom: 505px;
}

.naiyo li {
    padding: 0px;
    text-align: left;
    font-size: 25px;
}

#gitIndex{
    width: 1000px;
    text-align: center;
}

#gitIndex h1 {
    font-size: 120px;
    font-family: 'Lobster', cursive;
}

#gitIndex h2 {
    font-size: 35px;
}

#ref h1 {
    position: absolute;
    float: left;
    left: 240px;
    bottom: 225px;
}

.pptitle {
    width: 627px;
    text-align: center;
 }

.pptitle h1 {
    font-size: 220px;
    opacity: 0.3;
}

.pptitle h2 {
    font-size: 150px;
    margin-top: -275px;
    font-family: 'Lobster', cursive;
}

.cmdlist td {
    font-size: 18px;
    vertical-align: middle;
    font-family: monospace;
    padding-right: 20px;
}

.cmdlist td.middle li {
  text-align: center;
}

.cmdlist td.right {
  text-align: right;
}

.cmdlist td.right li {
  text-align: right;
}

.cmdlist li {
    padding: 0px;
    text-align: left;
}

.cmdlist td .highlight {
    font-size: 45px;
}

#plumbingCommands {
  width: 950px;
}

#porcelainCommands {
  width: 1200px;
}

#inside-overview { display: none }

